/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Lato', sans-serif !important; */
}

iframe {
    width:100%;
    height:100%;
    border-radius: .25rem;
}

/* Modified bootstrap classes */
.nav-link {
    font-size: 14px;
}
.navbar-light .navbar-toggler {
    color: #01744F !important;
    border-color: #01744F !important;
}
.navbar-toggler-icon {
    color: #01744F !important;
}
.active {
    background: #332a6c;
    color: white !important;
    border-radius: .25rem !important;
}
.carousel-caption {
    top: 15%;
}

.carousel-caption h2 {
    font-size: 1.6rem;
}
/* END Modified bootstrap classes*/

/* CUSTOM Classes */
.main-section {
    background:#01744F;
    /*background: linear-gradient(rgba(2, 70, 44, 0.5), rgba(6, 49, 26, 0.5)) , url('/img/img_main.jpg') center center;*/
    background-size: cover;
    width:100%;
    height:70vh;
    color: whitesmoke;
}
.main-section__2 {
    /*background: linear-gradient(rgba(2, 70, 44, 0.5), rgba(6, 49, 26, 0.5)) , url('/img/img_main.jpg') center center;*/
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/img/img_main.jpg') center center;
    background-size: cover;
    width:100%;
    height:90vh;
    color: whitesmoke;
}

.main-img {
    min-width: 540px;
}

.main-section section {
    padding-top:8rem;
}

#contact::after {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(51 42 108 / .9);
    content: "";
}

.grid-container-imgs {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
}

.copyright a {
    color: #383b3e;
}

.copyright a:hover {
    color: #c7c7c7;
}

.gradient {
    /* background: linear-gradient(90deg, rgba(52, 42, 113, 1) 0%, rgba(0, 120, 81, 1) 100%); */
    background: #01744F;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.text-purple {
    color: #332a6c;
}

.bg-purple {
    background: #332a6c !important;
}

.btn-purple {
    background: #332a6c !important;
    color: white !important;
}

.btn-purple:hover {
    background: #41368a !important;
    color: white !important;
}

.hr {
    width: 180px;
    height: 4px;
    background: #01744F;
    margin: 60px auto;
}

.rrss {
    padding: 0 2px;
    text-align: center;
}

.count {
    font-size: 34px;
}

.img-payment-methods {
    width: 200px;
}

.gallery-section{
    width: 100%;
    padding: 60px 0;
}
  
.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
    .gallery-section .image{
        flex: 33.33%;
    }
}
  
@media screen and (max-width:768px) {
    .gallery-section .image{
        flex: 50%;
    }

    .carousel-caption .btn {
        display: block;
    }
}
  
@media screen and (max-width:480px) {
    .gallery-section .image {
        flex: 100%;
    }

    .img-payment-methods {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    .carousel-caption {
        top: 25%;
    }

    .fb-page, .instagram-media {
        width: 100% !important;
        margin: 0 5px;
    }
}


@media screen and (max-width: 375px) {
    .main-section h2 {
        font-size: 24px;
    }
    .count {
        font-size: 26px;
    }

    .grid-container-imgs {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media screen and (max-width: 320px) {
    .main-section__content h2 {
        font-size: 20px;
    }

    .main-section__content p {
        font-size: 16px;
    }

    .main-section {
        height: 90vh;
    }

    .grid-container-imgs {
        grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    }

    .navbar {
        width: 320px;
    }

    .navbar-brand svg {
        width: 150px;
    }
}

@media screen and (max-width: 576px) {
    .container-rrss {
        flex-direction: column !important;
    }
    
    .fb-page, .instagram-media {
        margin: 0 auto;
    }

    .main-section section {
        padding-top: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-caption {
        top: 25%;
    }

    .container-images {
        max-width: 450px;
    }

}
/* END CUSTOM Classes */